/week_9/ATM Transactions/build/
/week_9/jTesting2/nbproject/private/
/week_9/jTesting2/build/
/week_9/ DoingMathWithNumbers/nbproject/private/
/week_9/ DoingMathWithNumbers/build/
/week_9/DoingMathWithNumbers/nbproject/private/
/week_9/JavaApplication59/nbproject/private/
/week_9/DoingMathWithNumbers/build/
/week_5/CalcuateSumMethods/build/
/week_9/DisplayDateAndTimeForm/nbproject/private/
/week_9/DateAndTineForm/nbproject/private/
/week_5/DateAndTineForm/nbproject/private/
/week_5/DateAndTimeForm/nbproject/private/
/week_5/DateAndTimeForm/build/
/week_5/ConvertFromCelsiusToFahForm/nbproject/private/
/TotalPurchaseLab2A2/build/
/TotalPurchaseLab2A2/nbproject/private/
/week_5/CalculateFinalGrade/build/
