/week_9/ATM Transactions/build/
/week_9/jTesting2/nbproject/private/
/week_9/jTesting2/build/
/week_9/ DoingMathWithNumbers/nbproject/private/
/week_9/ DoingMathWithNumbers/build/
/week_9/DoingMathWithNumbers/nbproject/private/
/week_9/JavaApplication59/nbproject/private/
/week_9/DoingMathWithNumbers/build/
/week_5/CalcuateSumMethods/build/
/week_9/DisplayDateAndTimeForm/nbproject/private/
/week_9/DateAndTineForm/nbproject/private/
/week_5/DateAndTineForm/nbproject/private/
/week_5/DateAndTimeForm/nbproject/private/
/week_5/DateAndTimeForm/build/
/week_5/ConvertFromCelsiusToFahForm/nbproject/private/
/TotalPurchaseLab2A2/build/
/TotalPurchaseLab2A2/nbproject/private/
/week_5/CalculateFinalGrade/build/
/calculateSumMethod/nbproject/private/
/week_5/calculateSumMethod/nbproject/private/
/week_5/calculateSumMethod/build/
/week_5/CalculateGrossPayFormError/nbproject/private/
/CalculateGrossForm/nbproject/private/
/Jtesting/CalculateGrossPayForm/nbproject/private/
/week_5/CalculateGrossPayForm/build/
/week_5/Archive/CalculateFinalGrade/build/
/week_5/Archive/CalculateFinalGrade/nbproject/private/
/week_5/Archive/CalculateGrossPayForm/build/
/week_5/Archive/CalculateGrossPayForm/nbproject/private/
/week_5/Archive/ConvertfromCelsiusTemperaturetoFahrenheitTemperature/build/
/week_5/Archive/ConvertfromCelsiusTemperaturetoFahrenheitTemperature/nbproject/private/
/week_5/Archive/DateAndTimeForm/build/
/week_5/Archive/DateAndTimeForm/nbproject/private/
/week_5/Archive/calculateSumMethod/build/
/week_5/Archive/calculateSumMethod/nbproject/private/
/Week_7/CalculateSumUsingMethods/nbproject/private/
/Week_7/CalculateSumUsingMethods/build/
/Week_7/FactorialUsingMethods/nbproject/private/
/Week_7/FactorialUsingMethods/build/
/Week_7/MCQuizUsingMethods/nbproject/private/
/Week_7/MCQuizUsingMethods/build/
/Week_7/GuessNumbersGame/nbproject/private/
/Week_7/GuessNumbersGame/build/
/Week_7/GenerateCarLicensePlates/nbproject/private/
/Week_7/GenerateCarLicensePlates/build/
/Jtesting/jSearch/nbproject/private/
/Jtesting/jSearch/build/
/Jtesting/DoingMathOperations/nbproject/private/
/week_4/DoingMathOperations/build/
/Jtesting/CommissionEmployeeTest/nbproject/private/
/CommissionEmployeeTest/nbproject/private/
/week_6/Chapter6LabExe-ForStatement/nbproject/private/
/week_6/Chapter6LabExe-ForStatement/build/
/week_6/GenerateRandomNumberFromRange/nbproject/private/
/week_6/GenerateRandomNumberFromRange/build/
